body {
  background-image: url("./book-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #FFC900;
  color: #FFC900;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
.Dictionary input,
.phonetic,
.definition-label,
.Meaning h3 {
  font-family: 'Aladin', cursive;
}

footer {
  font-weight: bold;
}

a {
  color: #FFC900;
  text-decoration: none;
}
a:hover {
  color: #0A0A0A;
  text-decoration: none;
}

.main-title {
  font-family: 'Aladin', cursive;
  font-size: 80px;
  color: #FFC900;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  text-shadow:
  -2px -2px 0 #0A0A0A,
   2px -2px 0 #0A0A0A,
  -2px  2px 0 #0A0A0A,
   2px  2px 0 #0A0A0A;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}